<script>
  $(document).ready(function(){
    setInterval(function(){
      $.ajax({url: "/my/recommendations.js",
        success: function(data) {
          $("#repositories").html(data)
        },
        dataType:"html"});
    },30000);
  });
</script>


<div id="repositories">
  <% if @recommendations.present? %>
    <div class="page-header">
      <h1>Recommendations</h1>
      <p>
        <small>Last updated at <%= current_user.recommendations_generated_at.to_s(:standard) %>. (Updated every hour)</small>
      </p>
    </div>
    <%= render(partial: "shared/repos", locals: {collection: @recommendations}) %>
  <% else %>
    <h2>Loading Recommendations, this could take a while.  Please be patient.  The page will reload automatically when it is complete.</h2>
    <ul class="drops">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Loading</li>
    </ul>
  <% end %>
</div>